<form class="panel-form">
             
    <h3>Educacion</h3>
    <!-- Conocimientos Front y Back -->
      <div class="row">
        <hr>
        <div class="col-2"></div>
        <!-- Comienza educacion Formal-->
        <div class="col-4">
          <h4>Formal</h4>
          <h6 class="input-panel">Título 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Técnico en Sistemas Informaticos" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Universidad de Buenos Aires" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Título 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Técnico en Sistemas Informaticos" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Universidad de Buenos Aires" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Título 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Técnico en Sistemas Informaticos" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Universidad de Buenos Aires" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          
          <!-- Termina educacion Formal-->
          
        </div>
        

        <!-- Comienza educacion No Formal-->
        <div class="col-4">
          <h4>No Formal</h4>
          <h6 class="input-panel">Curso 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Curso de UX" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CoderHouse" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Curso 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Curso de UX" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <div class="input-group mb-3">
            
           <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CoderHouse" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Curso 3</h6>
          <div class="input-group mb-3">
            
           <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Curso de UX" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CoderHouse" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2015-2020" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
        </div>
        <!-- Termina educacion No Formal-->

        <div class="col-2"></div>
      </div>


    
  </form>
