<section id="aboutMe" class="about-me">
    <div class="about-1">
         <h3>Sobre mí</h3>
            <p>{{textPersonal.text}}</p> 
    </div>
   
    <div class="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        
                        <!-- datos personales -->
                        <app-about-me-personal></app-about-me-personal>
                    </div>
                    <!-- intereses, otra columna -->
                    <div class="col-md-6">
            
                        
                       <app-about-me-interests></app-about-me-interests>
                       

                    </div>

                </div>

            </div>

        </div>

    </div>

  </section>
