<form class="panel-form">
             
    <h3>Conocimientos</h3>
    <!-- Conocimientos Front y Back -->
      <div class="row">
        <hr>
        <div class="col-2"></div>
        <div class="col-4">
          <h4>Front End</h4>
          
          <h6 class="input-panel">Conocimiento 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: HTML5" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Conocimiento 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Conocimiento 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
            
          <h6 class="input-panel">Conocimiento 4</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Conocimiento 5</h6>
          <div class="input-group mb-3">
            
           <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          
        </div>
        <div class="col-4">
          <h4>Back End</h4>
          <h6 class="input-panel">Conocimiento 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: HTML5" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Conocimiento 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Conocimiento 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
            
          <h6 class="input-panel">Conocimiento 4</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Conocimiento 5</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: CSS" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          

        </div>

        <div class="col-2"></div>
      </div>
    <!-- Termina conocimientos front y back-->

    <!-- Comienza conocimientos idiomas y herramientas -->
      <div class="row">
        <hr>
        <div class="col-2"></div>
        <div class="col-4">
          <h4>Idiomas</h4>
          <h6 class="input-panel">Idioma 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Español" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Idioma 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Español" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Idioma 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Español" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
            
        </div>
        <div class="col-4">
          <h4>Herramientas de diseño</h4>
          <h6 class="input-panel">Herramienta 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Herramienta 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Herramienta 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Herramienta 4</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>
            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Herramienta 5</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Herramienta 6</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Photoshop" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
        </div>

        <div class="col-2"></div>
      </div>
      
    
          
    
  </form>
