<section id="proyectos" class="projects">
    <h3>Proyectos</h3>
    <div class="projects-content-rectangle">
        <div class="row project-row">
            <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let project of infoProjects">
                <div class="card mb-3">
                    <div class="card-body">
                        <img [src]="project.projectImg" [alt]="project.title_img" class="projects-cards img-fluid">
                        <h5 class="card-title">{{project.titleProject}}</h5>
                        <h6>{{project.yearProject}}</h6>
                        <p class="card-text">{{project.descriptionProject}}</p>
                        <div class="row">
                            <div class="col">
                                <a [attr.href]="'{{project.linkProject}}'" class="btn btn-primary project-button"><i class="{{project.icon_web}}"></i><span>Ir al sitio</span></a>   
                            </div>

                            <div class="col">
                                <a [attr.href]="'{{project.githubProject}}'" class="btn btn-primary"><i class="{{project.icon_github}}"></i><span>Ver código</span></a>
                                
                            </div>
                            
                        </div>
                        
                       
                    </div>
                </div>
            </div>
           
        </div>
       
    </div>
    

</section>
