<form class="panel-form">
             
    <h3>Datos</h3>
    <!-- Datos personales -->
      <div class="row">
        <hr>
        <div class="col-2"></div>
        <div class="col-4">
          <h4>Datos personales</h4>
          <h6 class="input-panel">Cumpleaños</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 11/09/1997" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Telefono</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 112078454" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Email</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: tucorreo@gmail.com" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Web</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: www.tuweb.com" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Dirección</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Calle Falsa 1234" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
           

          <h6 class="input-panel">Cargo</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Fullstack Dev" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Estudios</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Analista de Sistemas" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
            
        </div>

        <div class="col-4">
          <h4>Intereses</h4>
          <h6 class="input-panel">Interés 1</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Interés 2</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Interés 3</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Interés 4</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Interés 5</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
           

          <h6 class="input-panel">Interés 6</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Interés 7</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Interés 8</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Ej: Deportes" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
            
        </div>
        
        <div class="col-2"></div>
      </div>
    
  </form>
