<div class="about-item interests-rectangles">
                            
    <i class="fa-brands fa-gratipay fa-5x"></i>
    <h3>Intereses</h3>
    <hr>

            <div class="row about-item-row">
                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-palette"></i>
                    <span>Dibujar</span> 
                </div>

                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-headphones"></i>
                    <span>Musica</span> 
                </div>

                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-compass"></i>
                    <span>Viajar</span> 
                </div>

               <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-person-swimming"></i>
                    <span>Nadar</span> 
                </div>
                 

            </div>

            <div class="row about-item-row">
                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-person-hiking"></i>
                    <span>Trekking</span> 
                </div>

                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-tv"></i>
                    <span>Series</span> 
                </div>

                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-camera-retro"></i>
                    <span>Fotos</span> 
                </div>
                
                <div class="col-3 about-item-rectangle">
                    <i class="fa-solid fa-gamepad"></i>
                    <span>Juegos</span> 
                </div>
                
            </div>    
</div>
