<section class="projects">
    <h3>Proyectos</h3>
    <div class="projects-content-rectangle">
        <div class="row project-row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <img class=" projects-cards img-fluid" src="assets/img/card-1.jpg" alt="Proyecto 1">
                        <h5 class="card-title">Diseño de Banners</h5>
                        <h6>2022</h6>
                        <p class="card-text">Tanto para Youtube como para diversas plataformas.</p>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-primary project-button"> <i class="fa-solid fa-globe"></i><span>Ir al sitio</span> </a>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-primary"> <i class="fa-brands fa-github"></i><span>Ver código</span> </a>
                            </div>
                            
                        </div>
                        
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <img class=" projects-cards img-fluid" src="assets/img/card-1.jpg" alt="Proyecto 1">  
                  <h5 class="card-title">Diseño de páginas web</h5>
                  <h6>2022</h6>
                  <p class="card-text">Tanto para Youtube como para diversas plataformas.</p>
                  <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-primary project-button"> <i class="fa-solid fa-globe"></i><span>Ir al sitio</span> </a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-primary"> <i class="fa-brands fa-github"></i><span>Ver código</span> </a>
                    </div>
                    
                </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row project-row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <img class=" projects-cards img-fluid" src="assets/img/card-2.png" alt="Proyecto 1">
                  <h5 class="card-title">Diseño de logos</h5>
                  <h6>2022</h6>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="row row-button">
                        <div class="col">
                            <a href="#" class="btn btn-primary project-button"> <i class="fa-solid fa-globe"></i><span>Ir al sitio</span> </a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary"> <i class="fa-brands fa-github"></i><span>Ver código</span> </a>
                        </div>
                    
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <img class=" projects-cards img-fluid" src="assets/img/card-2.png" alt="Proyecto 1">
                  <h5 class="card-title">Juegos desarrollados en Java</h5>
                  <h6>2022</h6>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-primary project-button"> <i class="fa-solid fa-globe"></i><span>Ir al sitio</span> </a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-primary"> <i class="fa-brands fa-github"></i><span>Ver código</span> </a>
                    </div>
                    
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    

</section>
