<footer class="text-center text-lg-start">
    <div class="container d-flex justify-content-center py-5">
        
        
            <ul class="list-group list-group-horizontal">
        
                <li class="list-group-item border-0 bg-transparent"><a href="https://github.com/VickyTroiano" target="_blank"><i class="fa-brands fa-github fa-3x text-white"></i></a> 
                </li>

                <li class="list-group-item border-0 bg-transparent"><a href="https://www.linkedin.com/in/victoria-delfina-troiano-97056b235/" target="_blank"><i class="fa-brands fa-linkedin fa-3x text-white"></i></a> 
                </li> 
                <li class="list-group-item border-0 bg-transparent"><a href="https://www.instagram.com/vicky.troiano/" target="_blank"><i class="fa-brands fa-instagram fa-3x text-white"></i></a>
                </li>
                  
            </ul>
           
    </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright - Victoria Troiano
    
  </div>
  <!-- Copyright -->
</footer>
