<form class="panel-form">
    <h3>Banner</h3>
    
  
      <div class="mb-3">
        <h6 class="input-panel">Imagen Banner</h6>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
        
        <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

        <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
      </div>
      </div>
      
 

    
  </form>
