<section id="eduacion" class="education">
    <h3>Educación</h3>
    <div class="skills-content-rectangle">
        <div class="skills-content">
            <div class="container">
                <div class="row">
                    <!-- educacion formal -->
                    <div class="col-md-6">
                        <div class="container-education">
                            <div class="text-box-skills">
                                
                                <i class="fa-solid fa-school-flag fa-5x space-between"></i>
                                
                                
                                <h3>Formal</h3>
                                <hr>
                                <div class="skill-box">
                                    
                                    <div class="container">
                                       
                                        <div class="row education-row" *ngFor="let education of formalEducation">
                                                <div class="col-4">
                                                    <img [src]="education.img_formal" [alt]="education.title_img" class="img-education img-fluid">
                                                </div>
                                            <div class="col-8 education-formal">
                                                
                                                <h4 class="education-title-1">{{education.title}}</h4>
                                                <h6 class="education-title-2">{{education.institution}}</h6>
                                                <h6 class="education-title-3">{{education.period}}</h6>
                                            </div>
                                        </div>   
                                        <hr>   
                                    </div> 
                                    
                                </div>
                         
                            </div>

                        </div>
                        
                    </div>
                    
                   <!-- EDUCACION NO FORMAL -->
                   <div class="col-md-6">
                    <div class="container-education">
                        <div class="text-box-skills">
                            <i class="fa-solid fa-award fa-5x"></i>
                            <h3>No Formal</h3>
                            <hr>
                            <div class="skill-box">
                                
                                <div class="container">
                                   
                                    <div class="row education-row" *ngFor="let education2 of informalEducation">
                                        <div class="col-4">
                                            <img [src]="education2.img_informal" [alt]="education2.title_img" class="img-education img-fluid">
                                        </div>
                                        <div class="col-8 education-formal">
                                            
                                            <h4 class="education-title-1">{{education2.title}}</h4>
                                            <h6 class="education-title-2">{{education2.institution}}</h6>
                                            <h6 class="education-title-3">{{education2.period}}</h6>
                                        </div>
                                    </div>   
                                    <hr>
                                    
                                     
                                    
                                </div>
                                
                                
                                
                                
                            </div>
                            
                                          
                        </div>

                    </div>
                    
                </div>

                </div>
            </div>
            
            
        </div>
    

    </div>
</section>
