<form class="panel-form">
             
        <h3>Título y subtítulo</h3>
        
        <h6 class="input-panel">Título</h6>
        <div class="input-group mb-3">
          
          <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
          <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

          <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

          <input type="text" class="form-control" placeholder="Fulanito De Tal" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>

        <h6 class="input-panel">Subtítulo</h6>
        <div class="input-group mb-3">
          
          <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>
            
          <input type="text" class="form-control" placeholder="Fulanito De Tal" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>  
    
  </form>
