
<app-navbar-panel></app-navbar-panel>
<section class="panel-section">
   
   
  <div class="row row-panel">
      <div class="col-1">
       <app-vertical-navbar-panel></app-vertical-navbar-panel>
        
      </div>
      <div class="col-11 mt-2 align-self-center">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-social" role="tabpanel" aria-labelledby="list-social-list">
              <!-- EDIT FORM SOCIAL-->
              <app-social-edit-panel></app-social-edit-panel>
          </div>
 
         <div class="tab-pane fade" id="list-banner" role="tabpanel" aria-labelledby="list-banner-list">
                <!-- EDIT FORM BANNER -->
               <app-banner-edit-panel></app-banner-edit-panel>
         </div>
 
         <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <!-- EDIT FORM PROFILE--> 
                <app-profile-edit-panel></app-profile-edit-panel>
         </div>
 
         <div class="tab-pane fade" id="list-about" role="tabpanel" aria-labelledby="list-about-list">
                <!-- EDIT FORM ABOUT-->
                <app-about-edit-panel></app-about-edit-panel>
 
         </div>
 
         <div class="tab-pane fade" id="list-personal" role="tabpanel" aria-labelledby="list-personal-list">
            <!-- EDIT FORM PERSONAL-->
            <app-personal-edit-panel></app-personal-edit-panel>
             
         </div>
 
         <div class="tab-pane fade" id="list-knowledge" role="tabpanel" aria-labelledby="list-knowledge-list">
           
            <!-- EDIT FORM KNOWLEDGE-->
            <app-knowledge-edit-panel></app-knowledge-edit-panel>
           
         </div>
         
         <div class="tab-pane fade" id="list-education" role="tabpanel" aria-labelledby="list-education-list">
          <!-- EDIT FORM EDUCATION -->
          <app-education-edit-panel></app-education-edit-panel> 

         </div>
         
         
         <div class="tab-pane fade" id="list-project" role="tabpanel" aria-labelledby="list-project-list">
            <!-- EDIT FORM PROJECTS -->
           
            <app-projects-edit-panel></app-projects-edit-panel>
 
         </div>
         
         
      </div>
    </div>
  </div>
</section>
 
