 
/** PANEL **/

.panel-section {
    background-color: rgb(253, 242, 227);
    color: #0b3b54;
    text-align: -webkit-center;
    background-image: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,0.2)
        ),url(../../../assets/img/banner-panel.jpg);
        
   
    /*display: flex;*/
    padding: 5%;
    padding-top: 24px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Merriweather Sans", sans-serif;
}

.container-panel{
    text-align: center;
}

.img-panel{
    border: 5px solid #81b0ab;
    border-radius: 80%;
    box-shadow: 1px 6px 17px rgb(70 118 134);

}

.name-panel{
    font-family: "Merriweather Sans", sans-serif;
    color: #0b4f73;

}


.list-group-link{
    text-decoration: none;
    color: #0b3b54;
}

.list-group-link:hover{
    color: #0b4f73;
}

a.panel-a{
    text-decoration: none;
    color: #0b4f73;
    font-family: "Merriweather Sans", sans-serif;
}

a.panel-a:hover{
    text-decoration: none;
    color: #0a405e;
    font-family: "Merriweather Sans", sans-serif;
}


p.p-20{
    margin-left: 20px;
    margin-top: 20px;
}

div.col-11 .mt-2 {
    justify-content: center;
    display: flex;
}

div.row-panel{
    flex-wrap: nowrap;
}

li.vertical.list-group-item.list-group-item-action{
    justify-content: center;
    display: flex;

}
