<form class="panel-form">
             
        <h3>Proyectos</h3>
    <div class="row">
        <hr>
        <div class="col-2"></div>
        <div class="col-4">
          <h4>Proyecto 1</h4>
          
          <h6 class="input-panel">Nombre del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Pagina Ecommerce" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Año del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2022" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Descripción del Proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Realizado con HTML, CSS y JavaScript" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h4>Proyecto 2</h4>
          
          <h6 class="input-panel">Nombre del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Pagina Ecommerce" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Año del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2022" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Descripción del Proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Realizado con HTML, CSS y JavaScript" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
            
            
        </div>

        <div class="col-4">
          <h4>Proyecto 3</h4>
          
          <h6 class="input-panel">Nombre del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Pagina Ecommerce" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Año del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2022" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Descripción del Proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Realizado con HTML, CSS y JavaScript" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h4>Proyecto 4</h4>
          
          <h6 class="input-panel">Nombre del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Pagina Ecommerce" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          
          <h6 class="input-panel">Año del proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: 2022" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>

          <h6 class="input-panel">Descripción del Proyecto</h6>
          <div class="input-group mb-3">
            
            <button class="btn btn-outline-secondary btn-form-bg-red" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-trash"></i></button>
            
            <button class="btn btn-outline-secondary btn-form-bg-blue" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-pen-to-square"></i></button>

            <button class="btn btn-outline-secondary btn-form-bg-green" type="submit" id="inputGroupFileAddon03"><i class="fa-solid fa-check"></i></button>

            <input type="text" class="form-control" placeholder="Ej: Realizado con HTML, CSS y JavaScript" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
        </div>

       

        <div class="col-2"></div>
    </div>

    
          <div class="btn-login">
              <button type="submit" class="btn btn-login-bg">Agregar proyecto</button>
          </div>
    
</form>
