<section class="skills">
    <h3>Mis conocimientos</h3>
    
    <!-- CARRUSEL -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="skills-content-rectangle">
                <div class="skills-content">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="container-skills">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-eye fa-5x"></i>
                                        <h3>Front End</h3>
                                        <hr>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-html5 fa-2xl"></i>
                                            </div>
                                            
                                            <strong>HTML5</strong>
                                            
                                            
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:95%;"><span class="progress"><span class="number-perc">90%</span></span></span>
                                            </div>
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-css3-alt fa-2xl"></i>
                                            </div>
                                            
                                            <strong>CSS3</strong>
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:90%;"><span class="progress"><span class="number-perc">90%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-square-js fa-2xl"></i>
                                            </div>
                                           
                                            <strong>JavaScript</strong>
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:70%;"><span class="progress"><span class="number-perc">70%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-regular fa-window-maximize fa-2xl"></i>
                                            </div>
                                            
                                            <strong>TypeScript</strong>
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-angular fa-2xl"></i>
                                            </div>
                                            
                                            <strong>Angular</strong>
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="container-skills">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-database fa-5x"></i>
                                        <h3>Back End</h3>
                                        <hr>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-git-alt fa-2xl"></i>
                                            </div>
                                            
                                            <strong>GIT</strong>
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-node-js fa-2xl"></i>
                                            </div>
                                            
                                            <strong>NODE.JS</strong>
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-database fa-2xl"></i>
                                            </div>
                                            
                                            <strong>MYSQL</strong>
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-php fa-2xl"></i>
                                            </div>
                                            
                                            <strong>PHP</strong>
                                            <div class="meter">
                                                <span style="width:70%;"><span class="progress"><span class="number-perc">70%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-java fa-2xl"></i>
                                            </div>
                                            
                                            <strong>Java</strong>
                                            <div class="meter">
                                                <span style="width:80%;"><span class="progress"><span class="number-perc">80%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
            
                                    </div>
        
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
        
            </div>
            
          </div>
          <div class="carousel-item">
            <!-- CAROUSEL 2-->
            <div class="skills-content-rectangle">
                <div class="skills-content">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="container-skills-2">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-language fa-5x"></i>
                                        <h3>Idiomas</h3>
                                        <hr>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-circle-check fa-2xl"></i>
                                            </div>
                                            
                                            <strong>ESPAÑOL</strong>
                                            
                                            
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:100%;"><span class="progress"><span class="number-perc">100%</span></span></span>
                                            </div>
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                
                                                <i class="fa-solid fa-circle-check fa-2xl"></i>
                                            </div>
                                            
                                            <strong>INGLÉS</strong>
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:97%;"><span class="progress"><span class="number-perc">97%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-circle-check fa-2xl"></i>
                                                
                                            </div>
                                           
                                            <strong>PORTUGUÉS</strong>
                                            <!-- barra -->
                                            
                                            <div class="meter">
                                                <span style="width:40%;"><span class="progress"><span class="number-perc">40%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="container-skills-2">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-toolbox fa-5x"></i>
                                        <h3>Herramientas de diseño</h3>
                                        <hr>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-layer-group fa-2xl"></i>
                                                
                                                
                                            </div>
                                            
                                            <strong>PHOTOSHOP</strong>
                                            <div class="meter">
                                                <span style="width:90%;"><span class="progress"><span class="number-perc">90%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-pen-nib fa-2xl"></i>
                                            </div>
                                            
                                            <strong>ILUSTRATOR</strong>
                                            <div class="meter">
                                                <span style="width:70%;"><span class="progress"><span class="number-perc">70%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-table-cells fa-2xl"></i>
                                                
                                            </div>
                                            
                                            <strong>ADOBE XD</strong>
                                            <div class="meter">
                                                <span style="width:60%;"><span class="progress"><span class="number-perc">60%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-person-running fa-2xl"></i>
                                                
                                            </div>
                                            
                                            <strong>AFTEREFFECTS</strong>
                                            <div class="meter">
                                                <span style="width:70%;"><span class="progress"><span class="number-perc">70%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-brands fa-figma fa-2xl"></i>
                                                
                                            </div>
                                            
                                            <strong>FIGMA</strong>
                                            <div class="meter">
                                                <span style="width:80%;"><span class="progress"><span class="number-perc">80%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="skill-box">
                                            <div class="space-between">
                                                <i class="fa-solid fa-sheet-plastic fa-2xl"></i>
                                                
                                            </div>
                                            
                                            <strong>CANVA</strong>
                                            <div class="meter">
                                                <span style="width:80%;"><span class="progress"><span class="number-perc">80%</span></span></span>
                                            </div>
                                            
                                            
                                        </div>
            
                                    </div>
        
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
        
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <i class="fa-solid fa-angle-left fa-4x" aria-hidden="true"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <i class="fa-solid fa-angle-right fa-4x" aria-hidden="true"></i>
         
            <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
