<section id="conocimiento" class="skills">
    <h3>Mis conocimientos</h3>
    
    <!-- CARRUSEL -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="skills-content-rectangle">
                <div class="skills-content">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="container-skills">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-eye fa-5x"></i>
                                        <h3>Front End</h3>
                                        <hr>
                                        <!-- skill puede llamarse de otra forma -->
                                        <div class="skill-box" *ngFor="let skill of infoSkillFront">
                                            
                                            <i class="{{skill.icon}}"></i>
                                            
                                            
                                            <strong>{{skill.skill}}</strong>
                                            
                                            <!-- iteración sobre la variable de instancia y presentación de los datos mediante interpolación -->
                                            <!-- barra -->
                                            <div class="meter">
                                                <span [style.width.%]="skill.porcentaje"><span class="progress"><span class="number-perc">{{skill.porcentaje}}%</span></span></span>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="container-skills">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-database fa-5x"></i>
                                        <h3>Back End</h3>
                                        <hr>
                                        <div class="skill-box" *ngFor="let skill of infoSkillBack">
                                            
                                            <i class="{{skill.icon}}"></i>
                                            
                                            
                                            <strong>{{skill.skill}}</strong>
                                            <div class="meter">
                                                <span [style.width.%]="skill.porcentaje"><span class="progress"><span class="number-perc">{{skill.porcentaje}}%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        
                                    
                                              
                                    </div>
        
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
        
            </div>
            
          </div>
          <div class="carousel-item">
            <!-- CAROUSEL 2-->
            <div class="skills-content-rectangle">
                <div class="skills-content">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="container-skills-2">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-language fa-5x"></i>
                                        <h3>Idiomas</h3>
                                        <hr>
                                        <div class="skill-box" *ngFor="let skill of infoSkillLang">
                                            
                                            <i class="{{skill.icon}}"></i>
                                            
                                            <strong>{{skill.skill}}</strong>
                            
                                            
                                            <div class="meter">
                                                <span [style.width.%]="skill.porcentaje"><span class="progress"><span class="number-perc">{{skill.porcentaje}}%</span></span></span>
                                            </div>
                                            
                                        </div>
                                        
                             
                                    </div>
        
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="container-skills-2">
                                    <div class="text-box-skills">
                                        <i class="fa-solid fa-toolbox fa-5x"></i>
                                        <h3>Herramientas de diseño</h3>
                                        <hr>
                                        <div class="skill-box" *ngFor="let skill of infoSkillDesign">
                                            <i class="{{skill.icon}}"></i>
                                            
                                            <strong>{{skill.skill}}</strong>
                                            <div class="meter">
                                                <span [style.width.%]="skill.porcentaje"><span class="progress"><span class="number-perc">{{skill.porcentaje}}%</span></span></span>
                                            </div>
                                           
                                            
                                        </div>
                                        
            
                                    </div>
        
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
        
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <i class="fa-solid fa-angle-left fa-4x" aria-hidden="true"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <i class="fa-solid fa-angle-right fa-4x" aria-hidden="true"></i>
         
            <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
