
section.about-me {
    margin: auto;
    padding: 1vh 4vw;
}

div.about-me-text {
    align-items: center;
    justify-content: center;
}

img.img-presentacion{
    border: 10px solid #0b3b54;
    display: block;
    border-radius: 80%;
    width: 80%;

}


.about-me{
    background-color: rgb(253, 242, 227);
    color: #0b3b54;
    /**padding: 50px 20px;**/
    align-items: center;
    text-align: center;
    justify-content: center;
}

img.card-img-top {
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: justify;
    margin: auto;
    
}

.about-1{
    margin: 20px;
    padding: 5px;
}


.about-1 h3 {
    text-align: center;
    color: #0b3b54;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
       
}

.about-1 p {
    text-align: center;
    padding: 3px;
    color: #0b3b54;
    font-family: 'Merriweather Sans', sans-serif;
}


