<section class="about-me">
    <div class="about-1">
         <h3>Sobre mí</h3>
            <p>Hola, soy <span>Victoria Troiano. Tengo 25 años y actualmente me encuentro en mi segundo año para la carrera de Analista en Sistemas. Me interesa el diseño y la música. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero expedita sint dolorum recusandae repellendus consequatur quisquam architecto tempore laborum corporis, fugit ipsa unde amet vitae? Odio architecto labore inventore ut!</span></p> 
    </div>

    <div class="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- datos personales -->
                        <app-about-me-personal></app-about-me-personal>
                    </div>
                    <!-- intereses, otra columna -->
                    <div class="col-md-6">
            
                        
                       <app-about-me-interests></app-about-me-interests>
                       

                    </div>

                </div>

            </div>

        </div>

    </div>

  </section>
