/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.bg-transparent:hover{
    color: rgb(11, 65, 113) !important;
    transition: color 0.3s linear 0.2s;
    cursor: pointer;  
}
/** navbar **/

.fa-brands:hover{
    color:rgb(11, 65, 113) !important;
    transition: color 0.3s linear 0.2s;
    cursor: pointer;
}
/** datos personales e intereses **/
.about-item {
    margin-bottom: 20px;
    margin-top: 2px;
    background-color: #81b0ab;
    padding: 10px;
    height: 360px;
    box-shadow: 1px 2px 7px  rgb(70, 115, 123);
    border-radius: 50px;
}


/** datos personales e intereses**/
.about-2 h3{
    text-align: center;
    align-items: center;
    color: #0b3b54;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.about-2 strong, span {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: #0b4f73;
    font-family: 'Merriweather Sans', sans-serif;
    
}

strong {
    font-weight: bold;
}

/** skills & education - rectangulo **/
div.skills-content-rectangle{
    margin-bottom: 30px;
    background-color: rgba(154, 198, 194, 0.5);
    padding: 10px;
    /**height: 360px;**/
    border-radius: 50px;
}


/** formularios - para contacto & panel **/

form{
    background-color: rgb(129, 176, 171);
    text-align: -webkit-center;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}


h3.login-h3{
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
    color:#0b3b54;
    font-family: 'Montserrat', sans-serif;
}
div.btn-login{
    text-align: center;
}

button.btn-login-bg{
    
    border-radius: 20px;
    color: antiquewhite;
    background-color: #92c0bb;
    border: none;
    font-size: large;
    font-family: "Merriweather Sans", sans-serif;   
}

label{
    font-family: "Merriweather Sans", sans-serif;
    color: #0b4f73;
}

/** LOGIN Y SIGNIN **/

.login-section{
    background-color: rgb(253, 242, 227);
    color: #0b3b54;
    text-align: -webkit-center;
    background-image: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,0.5)
        ),url(assets/img/banner-montania3.png);
        
   
    display: flex;
    padding: 5%;
    padding-top: 24px;
    justify-content: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}



input#floatingInput.form-control{
    background-color: #92c0bb;
    width: 80%;
    border: none;
    box-shadow: 1px 4px 18px rgb(70 118 134);
}

input#floatingInput.form-control:hover{
    background-color: #92c0bb;
    border: none;
    box-shadow: 1px 4px 18px rgb(56, 97, 111);
}

.form-text{
    font-family: "Merriweather Sans", sans-serif;
      
}

#emailHelp.form-text{
    margin-top: 20px;
    font-size: small;
    color: #4b7388;
}

label{
    font-family: "Merriweather Sans", sans-serif;
    color: #0b4f73;
}

small{
    font-size: small;
    color: #4b7388;
}


a.sign-in-link-span{
    color: #4b7388;
    font-size: medium;
    font-weight: 500;
    
}
a.sign-in-link-span:hover{
    color: #34586b;   
    
}


/** Formularios edit **/

form.panel-form{
    background-color: rgb(129, 176, 171);
    /**text-align: -webkit-center;**/
    /*width: 100%;*/
    background-color: rgb(129, 176, 171);
    text-align: -webkit-center;
    /* padding: 20px; */
    border-radius: 20px;
    margin-left: 12px;
    width: 90%;
}

div.input-button{
    display: flex;
    justify-content: center;
}

button.btn-form-bg{
    
    border-radius: 20px;
    color: antiquewhite;
    background-color: #92c0bb;
    border: none;
    font-size: small;
    font-family: "Merriweather Sans", sans-serif;   
}

button.btn-form-bg-blue{
    
    border-radius: 20px;
    color: antiquewhite;
    background-color: #5e7ed8;
    border: none;
    font-size: small;
    font-family: "Merriweather Sans", sans-serif;   
}

button.btn-form-bg-red{
    border-radius: 20px;
    color: antiquewhite;
    background-color: #e16985;
    border: none;
    font-size: small;
    font-family: "Merriweather Sans", sans-serif;   
}

button.btn-form-bg-green{
    border-radius: 20px;
    color: antiquewhite;
    background-color: #368a79;
    border: none;
    font-size: small;
    font-family: "Merriweather Sans", sans-serif;
}

h6.input-panel{
    text-align: -webkit-left;
    padding-left: 9px;
    color: #0a405e;
    font-weight: bold;
}
