/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}
/** navbar **/

.fa-brands:hover{
    color:rgb(11, 65, 113) !important;
    transition: color 0.3s linear 0.2s;
    cursor: pointer;
}
/** datos personales e intereses **/
.about-item {
    margin-bottom: 20px;
    margin-top: 2px;
    background-color: #81b0ab;
    padding: 10px;
    height: 360px;
    box-shadow: 1px 2px 7px  rgb(70, 115, 123);
    border-radius: 50px;
}


/** datos personales e intereses**/
.about-2 h3{
    text-align: center;
    align-items: center;
    color: #0b3b54;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.about-2 strong, span {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: #0b4f73;
    font-family: 'Merriweather Sans', sans-serif;
    
}

strong {
    font-weight: bold;
}

/** skills & education - rectangulo **/
div.skills-content-rectangle{
    margin-bottom: 30px;
    background-color: rgba(154, 198, 194, 0.5);
    padding: 10px;
    /**height: 360px;**/
    border-radius: 50px;
}


/** formularios - para contacto & panel **/

form{
    background-color: rgb(129, 176, 171);
    text-align: -webkit-center;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}


h3.login-h3{
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
    color:#0b3b54;
    font-family: 'Montserrat', sans-serif;
}
div.btn-login{
    text-align: center;
}

button.btn-login-bg{
    
    border-radius: 20px;
    color: antiquewhite;
    background-color: #92c0bb;
    border: none;
    font-size: large;
    font-family: "Merriweather Sans", sans-serif;   
}

label{
    font-family: "Merriweather Sans", sans-serif;
    color: #0b4f73;
}

