<section id="contacto" class="contact">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-4 col-sm-12 help-contact">
               <h4 class="contact-title">¿Necesitas ayuda?</h4>
               <p class="contact-p">Estoy abierta a trabajar para tu empresa.<br> Escribime sobre tu marca y coordinemos. <br><strong>troianovicky@gmail.com</strong></p>
               
                <i class="fa-brands fa-square-whatsapp fa-2x social-contact"><a href="https://web.whatsapp.com/" target="_blank"></a></i> 
                 
                <i class="fa-brands fa-telegram fa-2x social-contact"><a href="https://web.telegram.org/" target="_blank"></a></i>
                
               
            </div>
            
            <div class="col-lg-8 col-sm-12">
                
                <form class="contact-form">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Tu email</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Tu nombre</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Fulanito">
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Asunto</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Presupuesto">
                        </div>
                        
                        
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Tu consulta</label>
                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="btn-login">
                        <button type="submit" class="btn btn-login-bg">Enviar</button>
                    </div>  
                </form>

            </div>
        </div>
    </div>
</section>
