
<app-navbar-panel></app-navbar-panel>
<section class="login-section pt-3">
    
    <div class="container py-5">
        <h3 class="login-h3">Iniciar Sesión</h3>
        <form py-5>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <div id="emailHelp" class="form-text">Nunca compartiremos tu email con nadie.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="floatingInput" placeholder="Contraseña">
            </div>

            <div class="mb-3">
                <small>¿No tenés cuenta? <br> Registrate haciendo click <a class="sign-in-link-span" href="signin.html">acá</a></small>
                
                
            </div>
                <div class="btn-login">
                    <button type="submit" class="btn btn-login-bg">Ingresar</button>
                </div>
                
          </form>
    </div>
        
   

</section>
