/** LOGIN  **/


form{
    background-color: rgb(129, 176, 171);
    text-align: -webkit-center;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

h3.login-h3{
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
    color:#0b3b54;
    font-family: 'Montserrat', sans-serif;
}
div.btn-login{
    text-align: center;
}

button.btn-login-bg{
    
    border-radius: 20px;
    color: antiquewhite;
    background-color: #92c0bb;
    border: none;
    font-size: large;
    font-family: "Merriweather Sans", sans-serif;   
}

d.container.py-5{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    text-align: -webkit-center;
}
