<div class="about-item text-center">
    <i class="fa-solid fa-id-card fa-5x"></i>
    <h3>Datos personales</h3>
    <hr>
    <div>
        <strong>Cumpleaños</strong>
        <span>11-09-1997</span>
    </div>

    <div>
        <strong>Telefono</strong>
        <span>1130789213</span>
    </div>

    <div>
        <strong>Email</strong>
        <span>troianovicky@gmail.com</span>
    </div>

    <div>
        <strong>Web</strong>
        <span> www.examplewerb.com</span>
    </div>

    <div>
        <strong>Dirección</strong>
        <span>example adress 18023, Argentina</span>
    </div>

    <div>
        <strong>Cargo</strong>
        <span>Freelancer</span>
    </div>
    <div>
        <strong>Estudios</strong>
        <span>Analista en Sistemas</span>
    </div>
    
</div> 
