<div class="about-item text-center">
    <i class="fa-solid fa-id-card fa-5x"></i>
    <h3>Datos personales</h3>
    <hr>
    <div>
        <strong>Cumpleaños</strong>
        <span>{{infoPersonal.birthday}}</span>
    </div>

    <div>
        <strong>Telefono</strong>
        <span>{{infoPersonal.cellphone}}</span>
    </div>

    <div>
        <strong>Email</strong>
        <span>{{infoPersonal.email}}</span>
    </div>

    <div>
        <strong>Web</strong>
        <span> {{infoPersonal.web}}</span>
    </div>

    <div>
        <strong>Dirección</strong>
        <span>{{infoPersonal.adress}}</span>
    </div>

    <div>
        <strong>Cargo</strong>
        <span>{{infoPersonal.job}}</span>
    </div>
    <div>
        <strong>Estudios</strong>
        <span>{{infoPersonal.study}}</span>
    </div>
    
</div> 
