div.banner-content-rectangle{ 
    padding: 5%;
    margin: 0 auto;
    background-color: rgb(154, 198, 194, .5);
    border-radius: 15%;
    /**height: 90vh;**/
    align-items: center;
    justify-content: center;
    text-align: center;
}


p.button-cv{
    background:antiquewhite;
    text-decoration: none;
    padding: 16px;
    border-radius: 100px;
    font-size: 20px;
    color: rgb(11, 65, 113);
    font-family: 'Merriweather Sans', sans-serif;
    padding: 2%;
    box-shadow: 1px 2px 7px rgb(14 26 28);
    width: 50%;
    margin: 0 auto;
    
}

p.button-cv:hover {
    text-decoration: none;
    color: antiquewhite;
    background: rgb(11, 65, 113);
    transition: color 0.3s linear 0.2s;
    cursor: pointer;
}


img.img-person {
    width: 50%;
    height: 50%;
    margin-bottom: 5%;
    
}

div.img-container{
    align-items: center;
    text-align: center;
    
}

img.img-person{
    border: 10px solid #81b0ab;
    border-radius: 80%;
    box-shadow: 1px 6px 17px rgb(70 118 134);
   
}

.banner-text {
    color: rgb(11, 65, 113);
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1.banner-text-name{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.5rem;   
}


ul.banner-text-parraph {
    font-family: 'Merriweather Sans', sans-serif;
    align-items: center;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    align-items: center; 
    padding-left: 0;
    margin-bottom: 4px;
}

