<div class="banner-content-rectangle">
    <div class="banner-content">
        <div class="img-container">
            <img class="img-person img-fluid" src="assets/img/img-presentacion.png" alt="Foto de presentacion">
        </div>
        <div class="banner-text">

            <h1 class="banner-text-name">{{name}}</h1>
            <ul class="banner-text-parraph">
                    <li>Desarrolladora FullStack Junior</li>
                    <li>Estudiante de Analista en Sistemas</li>
                    <li>Amante del buen diseño</li>
                    <li>Emprendedora</li>
                   
            </ul>
            
            <p class="mt-3 banner-text-parraph"> <a href="https://www.constructionequipment.com/sites/ce/files/styles/content/public/International-MV-truck.jpg?itok=xllmxO7e" class="button-cv" download>Descargar CV<i class="fa-solid fa-download"></i><span class="overlay"></span></a></p>
    
        </div> 

    </div>

</div>
