<div class="banner-content-rectangle">
    <div class="banner-content">
        <div class="img-container">
            <img class="img-person img-fluid" src="assets/img/img-presentacion.png" alt="Foto de presentacion">
        </div>
        <div class="banner-text">

            <h1 class="banner-text-name">Victoria Delfina Troiano </h1>
            <p class="banner-text-parraph">Desarrolladora FullStack Junior<br>Estudiante de Analista en Sistemas<br>Amante del buen diseño<br>Emprendedora</p>
            <a href="https://www.constructionequipment.com/sites/ce/files/styles/content/public/International-MV-truck.jpg?itok=xllmxO7e" class="button-cv" download>Descargar CV<i class="fa-solid fa-download"></i><span class="overlay"></span></a>
    
        </div> 

    </div>

</div>
